// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.dropdown-item-danger {
    color: var(--bs-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
}
.dropdown-item-danger.active {
    background-color: var(--bs-red);
}

